<div class="slides">
      <!-- Any section element inside of this container is displayed as a slide -->

      <!-- Intro slide -->
      <section data-background="img/team.jpg">
        <h1>VAX TRIVIA 2015</h1>
        <h2>Modern Trivia Stack</h3>
      </section>

      <!-- General Trivia -->
      <section data-background="rgb(77, 126, 101)">
        <section>
          <h1>Round One</h1>
          <h3>General Trivia</h3>
          <p class="light">10 questions, 10 points each</p>
        </section>

        <section>
          <h2>What is the name of the carnivorous plant that is primarily native to a 60-mile radius around Wilmington, North Carolina?</h2>
        </section>

        <section>
          <h2>In the Scooby-Doo cartoons, what is the name of the gang’s van?</h2>
        </section>

        <section>
          <h2>If you attend a potluck in Minneapolis and the host asks you to provide a “hotdish,” what type of food should you bring?</h2>
        </section>

        <section>
          <h2>What name did the media use to refer to the scandal that resulted in Tom Brady being suspended for the first four games on the 2016 season?</h2>
        </section>

        <section>
          <h2>What is the name of Harper Lee’s second novel, which is slated to be released next month?</h2>
        </section>

        <section>
          <h2>In the Harry Potter universe, a game of Quidditch can only end after a player (typically the seeker) successfully catches what?</h2>
        </section>

        <section>
          <h2>This actor has provided the voices for Ned Flanders, Mr. Burns, and Smithers on the Simpsons for 26 years, but is threatening to leave the show over a contract dispute.</h2>
        </section>

        <section>
          <h2>The tip of the Washington Monument is made out of what type of metal? At the time of its casting in 1884 it was largest single piece of this material in the world, measuring in at 8.9 inches tall and weighing 100 ounces.</h2>
        </section>

        <section>
          <h2>This child star had his film debut as Forrest Junior in Forrest Gump and can be seen most recently in the new Entourage film.</h2>
        </section>

        <section>
          <h2>Which planet in our solar system has a longer day (time to complete one rotation) than year (time to orbit the sun once)?</h2>
        </section>
      </section>

      <section data-background="rgb(77, 126, 101)">
        <section>
          <h1>Round One</h1>
          <h3>Answers</h3>
        </section>

        <section>
          <h2>What is the name of the carnivorous plant that is primarily native to a 60-mile radius around Wilmington, North Carolina?</h2>
          <p>Venus Flytrap</p>
        </section>

        <section>
          <h2>In the Scooby-Doo cartoons, what is the name of the gang’s van?</h2>
          <p>Mystery Machine</p>
        </section>

        <section>
          <h2>If you attend a potluck in Minneapolis and the host asks you to provide a “hotdish,” what type of food should you bring?</h2>
          <p>Casserole</p>
        </section>

        <section>
          <h2>What name did the media use to refer to the scandal that resulted in Tom Brady being suspended for the first four games on the 2016 season?</h2>
          <p>Deflategate</p>
        </section>

        <section>
          <h2>What is the name of Harper Lee’s second novel, which is slated to be released next month?</h2>
          <p>Go Set a Watchmen</p>
        </section>

        <section>
          <h2>In the Harry Potter universe, a game of Quidditch can only end after a player (typically the seeker) successfully catches what?</h2>
          <p>The golden snitch</p>
        </section>

        <section>
          <h2>This actor has provided the voices for Ned Flanders, Mr. Burns, and Smithers on the Simpsons for 26 years, but is threatening to leave the show over a contract dispute.</h2>
          <p>Harry Shearer</p>
        </section>

        <section>
          <h2>The tip of the Washington Monument is made out of what type of metal? At the time of its casting in 1884 it was largest single piece of this material in the world, measuring in at 8.9 inches tall and weighing 100 ounces.</h2>
          <p>Aluminum</p>
        </section>

        <section>
          <h2>This child star had his film debut as Forrest Junior in Forrest Gump and can be seen most recently in the new Entourage film.</h2>
          <p>Haley Joel Osment</p>
        </section>

        <section>
          <h2>Which planet in our solar system has a longer day (time to complete one rotation) than year (time to orbit the sun once)?</h2>
          <p>Venus - 243 Earth-day day / 225 Earth-day year</p>
        </section>
      </section>

      <!-- Cover Songs -->
      <section data-background="rgb(216, 1, 140)">
        <section>
          <h1>Round Two</h1>
          <h3>Cover Songs</h3>
          <p class="light">
            2 points for song title<br/>
            4 points for cover artist<br/>
            4 points for original artist
          </p>
        </section>

        <section>
          <h2>Song #1</h2>
          <audio>
            <source src="audio/2/1.mp3" />
          </audio>
          <p class="light">
            2 points for song title<br/>
            4 points for cover artist<br/>
            4 points for original artist
          </p>
        </section>

        <section>
          <h2>Song #2</h2>
          <audio>
            <source src="audio/2/2.mp3" />
          </audio>
          <p class="light">
            2 points for song title<br/>
            4 points for cover artist<br/>
            4 points for original artist
          </p>
        </section>

        <section>
          <h2>Song #3</h2>
          <audio>
            <source src="audio/2/3.mp3" />
          </audio>
          <p class="light">
            2 points for song title<br/>
            4 points for cover artist<br/>
            4 points for original artist
          </p>
        </section>

        <section>
          <h2>Song #4</h2>
          <audio>
            <source src="audio/2/4.mp3" />
          </audio>
          <p class="light">
            2 points for song title<br/>
            4 points for cover artist<br/>
            4 points for original artist
          </p>
        </section>

        <section>
          <h2>Song #5</h2>
          <audio>
            <source src="audio/2/5.mp3" />
          </audio>
          <p class="light">
            2 points for song title<br/>
            4 points for cover artist<br/>
            4 points for original artist
          </p>
        </section>

        <section>
          <h2>Song #6</h2>
          <audio>
            <source src="audio/2/6.mp3" />
          </audio>
          <p class="light">
            2 points for song title<br/>
            4 points for cover artist<br/>
            4 points for original artist
          </p>
        </section>

        <section>
          <h2>Song #7</h2>
          <audio>
            <source src="audio/2/7.mp3" />
          </audio>
          <p class="light">
            2 points for song title<br/>
            4 points for cover artist<br/>
            4 points for original artist
          </p>
        </section>

        <section>
          <h2>Song #8</h2>
          <audio>
            <source src="audio/2/8.mp3" />
          </audio>
          <p class="light">
            2 points for song title<br/>
            4 points for cover artist<br/>
            4 points for original artist
          </p>
        </section>

        <section>
          <h2>Song #9</h2>
          <audio>
            <source src="audio/2/9.mp3" />
          </audio>
          <p class="light">
            2 points for song title<br/>
            4 points for cover artist<br/>
            4 points for original artist
          </p>
        </section>

        <section>
          <h2>Song #10</h2>
          <audio>
            <source src="audio/2/10.mp3" />
          </audio>
          <p class="light">
            2 points for song title<br/>
            4 points for cover artist<br/>
            4 points for original artist
          </p>
        </section>
      </section>

      <section data-background="rgb(216, 1, 140)">
        <section>
          <h1>Round Two</h1>
          <h3>Answers</h3>
        </section>

        <section data-background="img/nirvana.gif">
          <h2>Song #1</h2>
          <audio>
            <source src="audio/2/1.mp3" />
          </audio>
          <p class="light">
            "Where Did You Sleep Last Night"<br/>
            Nirvana<br/>
            Leadbelly
          </p>
        </section>

        <section data-background="img/aretha.jpg">
          <h2>Song #2</h2>
          <audio>
            <source src="audio/2/2.mp3" />
          </audio>
          <p class="light">
            "Respect"<br/>
            Aretha Franklin<br/>
            Otis Redding
          </p>
        </section>

        <section data-background="img/nodoubt.gif">
          <h2>Song #3</h2>
          <audio>
            <source src="audio/2/3.mp3" />
          </audio>
          <p class="light">
            "It’s My Life"<br/>
            No Doubt<br/>
            Talk Talk
          </p>
        </section>

        <section data-background="img/patsy.jpg">
          <h2>Song #4</h2>
          <audio>
            <source src="audio/2/4.mp3" />
          </audio>
          <p class="light">
            "Crazy"<br/>
            Patsy Cline<br/>
            Willie Nelson
          </p>
        </section>

        <section data-background="img/marylin.gif">
          <h2>Song #5</h2>
          <audio>
            <source src="audio/2/5.mp3" />
          </audio>
          <p class="light">
            "Sweet Dreams"<br/>
            Marilyn Manson<br/>
            The Eurythmics
          </p>
        </section>

        <section data-background="img/rufus.gif">
          <h2>Song #6</h2>
          <audio>
            <source src="audio/2/6.mp3" />
          </audio>
          <p class="light">
            "Across the Universe"<br/>
            Rufus Wainwright<br/>
            The Beatles
          </p>
        </section>

        <section data-background="img/elvis.gif">
          <h2>Song #7</h2>
          <audio>
            <source src="audio/2/7.mp3" />
          </audio>
          <p class="light">
            "Bridge Over Troubled Waters"<br/>
            Elvis<br/>
            Simon and Garfunkel
          </p>
        </section>

        <section data-background="img/whitney.gif">
          <h2>Song #8</h2>
          <audio>
            <source src="audio/2/8.mp3" />
          </audio>
          <p class="light">
            "I Will Always Love You"<br/>
            Whitney Houston<br/>
            Dolly Parton
          </p>
        </section>

        <section data-background="img/boss.gif">
          <h2>Song #9</h2>
          <audio>
            <source src="audio/2/9.mp3" />
          </audio>
          <p class="light">
            "Blinded by the Light"<br/>
            Manfred Mann<br/>
            Bruce Springsteen
          </p>
        </section>

        <section data-background="img/aceofbase.gif">
          <h2>Song #10</h2>
          <audio>
            <source src="audio/2/10.mp3" />
          </audio>
          <p class="light">
            "Don’t Turn Around"<br/>
            Ace of Base<br/>
            Tina Turner
          </p>
        </section>
      </section>

      <!-- 10/20 Round -->
      <section data-background="rgb(71, 83, 210)">
        <section>
          <h1>Round Three</h1>
          <h3>10/20 General Trivia</h3>
          <p class="light">
            Wager either 10 or 20 points on each answer<br/>
            Get it right, your score increases by the wager<br/>
            Get it wrong, your wager is subtracted
          </p>
        </section>

        <section data-background="img/americangothic.jpg">
          <h2>Who painted "American Gothic?"</h2>
        </section>

        <section>
          <h2>Who won MTV’s “Wanna be a VJ” contest in 1998 by portraying himself as an eccentric homeless street kid?</h2>
        </section>

        <section data-background="img/babushka.jpg" class="clear">
          <p class="notes">In the famous Zapruder film of JFK’s assassination, as well as multiple photographs taken at Dealey Plaza, an unknown woman wearing a scarf is seen photographing the president at the moment he’s fatally shot. To this day she has not been positively identified, and the photos she took have never surfaced. She is referred to by what name in official reports and conspiracy theories?</p>
        </section>

        <section>
          <h2>In “The Lord of the Rings,” only one character is known to be unaffected by the ring of Sauron. Who is it?</h2>
        </section>

        <section data-background="img/riley.jpg" class="clear">
          <p class="notes">Actress and model Riley Keough, who recently starred in Mad Max: Fury Road, is the granddaughter of what famous musician?</p>
        </section>

        <section>
          <h2>In the early days of Facebook, Zuckerberg and Sean Parker created another startup that specialized in invite-only P2P file transfers. The Zuck almost gave up Facebook to focus on the second startup until Parker intervened and killed the project. What was this second startup called?</h2>
        </section>

        <section data-background="img/joe.jpg" class="clear">
          <p class="notes">The man shaking Obama’s hand in this photograph became a spokesman and “every man” champion for the McCain campaign in 2008. What was the nickname he was best known by?</p>
        </section>

        <section>
          <h2>Known as one of the largest box office flops of all time, this 1995 Genna Davis film cost $100m to make but only grossed $10m in the US, subsequently forcing the film studio Carolco Pictures to file bankruptcy.</h2>
        </section>

        <section data-background="img/artax.jpg" class="clear">
          <p class="notes">What is the name of this horse</p>
        </section>

        <section>
          <h2>Widely considered one of the most influential stand-up comedians of the 80s and early 90s, he died of pancreatic cancer in 1994 at the age of 32. Dennis Leary is often accused of “ripping off” his on-stage persona.</h2>
        </section>
      </section>

      <section data-background="rgb(71, 83, 210)">
        <section>
          <h1>Round Three</h1>
          <h3>Answers</h3>
        </section>

        <section data-background="img/americangothic.jpg">
          <h2>Who painted "American Gothic?"</h2>
          <p class="light">Grant Wood</p>
        </section>

        <section>
          <h2>Who won MTV’s “Wanna be a VJ” contest in 1998 by portraying himself as an eccentric homeless street kid?</h2>
          <p>Jesse Camp</p>
        </section>

        <section data-background="img/babushka.jpg" class="clear">
          <h1>Babushka Lady</h1>
        </section>

        <section>
          <h2>In “The Lord of the Rings,” only one character is known to be unaffected by the ring of Sauron. Who is it?</h2>
          <p>Tom Bombadil</p>
        </section>

        <section data-background="img/riley-elvis.jpg" class="clear">
          <p class="notes">Actress and model Riley Keough, who recently starred in Mad Max: Fury Road, is the granddaughter of what famous musician?</p>
        </section>

        <section>
          <h2>In the early days of Facebook, Zuckerberg and Sean Parker created another startup that specialized in invite-only P2P file transfers. The Zuck almost gave up Facebook to focus on the second startup until Parker intervened and killed the project. What was this second startup called?</h2>
          <p>Wirehog</p>
        </section>

        <section data-background="img/joe.jpg">
          <p class="notes">The man shaking Obama’s hand in this photograph became a spokesman and “every man” champion for the McCain campaign in 2008. What was the nickname he was best known by?</p>
          <h1>Joe "the plumber" Wurzelbacher</h1>
        </section>

        <section>
          <h2>Known as one of the largest box office flops of all time, this 1995 Genna Davis film cost $100m to make but only grossed $10m in the US, subsequently forcing the film studio Carolco Pictures to file bankruptcy.</h2>
          <p>Cutthroat Island</p>
        </section>

        <section data-background="img/artax.jpg" class="clear">
          <p class="notes">What is the name of this horse</p>
          <h1>Artax</h1>
        </section>

        <section>
          <h2>Widely considered one of the most influential stand-up comedians of the 80s and early 90s, he died of pancreatic cancer in 1994 at the age of 32. Dennis Leary is often accused of “ripping off” his on-stage persona.</h2>
          <p>Bill Hicks</p>
        </section>
      </section>

      <!-- TV Theme Songs -->
      <section data-background="rgb(216, 123, 1)">
        <section>
          <h1>Round Four</h1>
          <h3>TV Theme Songs</h3>
          <p class="light">
            Hear the clip, name the show<br/>
            10 points each
          </p>
        </section>

        <section>
          <h2>Theme Song #1</h2>
          <audio>
            <source src="audio/4/1.mp3" />
          </audio>
        </section>

        <section>
          <h2>Theme Song #2</h2>
          <audio>
            <source src="audio/4/2.mp3" />
          </audio>
        </section>

        <section>
          <h2>Theme Song #3</h2>
          <audio>
            <source src="audio/4/3.mp3" />
          </audio>
        </section>

        <section>
          <h2>Theme Song #4</h2>
          <audio>
            <source src="audio/4/4.mp3" />
          </audio>
        </section>

        <section>
          <h2>Theme Song #5</h2>
          <audio>
            <source src="audio/4/5.mp3" />
          </audio>
        </section>

        <section>
          <h2>Theme Song #6</h2>
          <audio>
            <source src="audio/4/6.mp3" />
          </audio>
        </section>

        <section>
          <h2>Theme Song #7</h2>
          <audio>
            <source src="audio/4/7.mp3" />
          </audio>
        </section>

        <section>
          <h2>Theme Song #8</h2>
          <audio>
            <source src="audio/4/8.mp3" />
          </audio>
        </section>

        <section>
          <h2>Theme Song #9</h2>
          <audio>
            <source src="audio/4/9.mp3" />
          </audio>
        </section>

        <section>
          <h2>Theme Song #10</h2>
          <audio>
            <source src="audio/4/10.mp3" />
          </audio>
        </section>
      </section>

      <section data-background="rgb(216, 123, 1)">
        <section>
          <h1>Round Four</h1>
          <h3>Answers</h3>
        </section>

        <section data-background="img/truedetectives.gif" class="clear">
          <h1>True Detective</h1>
          <audio>
            <source src="audio/4/1.mp3" />
          </audio>
        </section>

        <section data-background="img/xfiles.gif" class="clear">
          <h1>The X-Files</h1>
          <audio>
            <source src="audio/4/2.mp3" />
          </audio>
        </section>

        <section data-background="img/quantumleap.gif" class="clear">
          <h1>Quantum Leap</h1>
          <audio>
            <source src="audio/4/3.mp3" />
          </audio>
        </section>

        <section data-background="img/daysofourlives.gif" class="clear">
          <h1>Days of our Lives</h1>
          <audio>
            <source src="audio/4/4.mp3" />
          </audio>
        </section>

        <section data-background="img/houseofcards.gif" class="clear">
          <h1>House of Cards</h1>
          <audio>
            <source src="audio/4/5.mp3" />
          </audio>
        </section>

        <section data-background="img/madmen.gif" class="clear">
          <h1>Mad Men</h1>
          <audio>
            <source src="audio/4/6.mp3" />
          </audio>
        </section>

        <section data-background="img/deadwood.gif" class="clear">
          <h1>Deadwood</h1>
          <audio>
            <source src="audio/4/7.mp3" />
          </audio>
        </section>

        <section data-background="img/northernexposure.gif" class="clear">
          <h1>Northern Exposure</h1>
          <audio>
            <source src="audio/4/8.mp3" />
          </audio>
        </section>

        <section data-background="img/fraiser.gif" class="clear">
          <h1>Frasier</h1>
          <audio>
            <source src="audio/4/9.mp3" />
          </audio>
        </section>

        <section data-background="img/alf.gif" class="clear">
          <h1>Alf</h1>
          <audio>
            <source src="audio/4/10.mp3" />
          </audio>
        </section>
      </section>

      <!-- Vox Round -->
      <section data-background="rgb(48, 181, 70)">
        <section>
          <h1>Round Five</h1>
          <h3>Answers</h3>
        </section>
      </section>

      <!-- Game Changer Round -->
      <section data-background="rgb(176, 56, 70)">
        <section>
          <h1>Round Six</h1>
          <h3>The Game Changer</h3>
          <p class="light">
            Eight questions, each one having one more answer than the last<br/>
            10 points for every correct answer, 360 total points
          </p>
        </section>

        <section>
          <h2>For the last three seasons Bryce Harper has been the youngest position player in the NL. Who is currently the youngest after debuting for the Cubs on April 21, 2015?</h2>
        </section>

        <section>
          <h2>In the first Back to the Future, Marty travelled back in time from the parking lot of a mall. What was the name of the mall before Marty went back in time, and what was it called after he returned to present day?</h2>
        </section>

        <section>
          <h2>Elon Musk is the founder and/or largest shareholder of what three companies?</h2>
        </section>

        <section>
          <h2>According to 2014 sales data, what are the four best-selling breakfast cereals?</h2>
        </section>

        <section>
          <h2>Philadelphia is home to five professional sports teams, one for each of MLB, NFL, NBA, NHL, and MLS. Name them.</h2>
        </section>

        <section>
          <h2>List all six of the US state capitals that begin with the letter “C”</h2>
        </section>

        <section>
          <h2>John Williams has scored 26 Steven Spielberg films. List the seven films they collaborated on that only have one word in the title. (hint: years count, abbreviations do not)</h2>
        </section>

        <section>
          <h2>John G. Roberts is the Chief Justice of the Supreme Court. Name the other eight justices</h2>
        </section>
      </section>

      <section data-background="rgb(176, 56, 70)">
        <section>
          <h1>Round Six</h1>
          <h3>Answers</h3>
        </section>

        <section>
          <h2>For the last three seasons Bryce Harper has been the youngest position player in the NL. Who is currently the youngest after debuting for the Cubs on April 21, 2015?</h2>
          <ol>
            <li>Addison Russell</li>
          </ol>
        </section>

        <section>
          <h2>In the first Back to the Future, Marty travelled back in time from the parking lot of a mall. What was the name of the mall before Marty went back in time, and what was it called after he returned to present day?</h2>
          <ol>
            <li>Twin Pines Mall</li>
            <li>Lone Pine Mall</li>
          </ol>
        </section>

        <section>
          <h2>Elon Musk is the founder and/or largest shareholder of what three companies?</h2>
          <ol>
            <li>Tesla Motors</li>
            <li>SpaceX</li>
            <li>SolarCity</li>
          </ol>
        </section>

        <section>
          <h2>According to 2014 sales data, what are the four best-selling breakfast cereals?</h2>
          <ol>
            <li>Cheerios ($994m)</li>
            <li>Frosted Flakes ($453m)</li>
            <li>Muesli ($443m)</li>
            <li>Special K ($366m)</li>
          </ol>
        </section>

        <section>
          <h2>Philadelphia is home to five professional sports teams, one for each of MLB, NFL, NBA, NHL, and MLS. Name them.</h2>
          <ol>
            <li>Phillies</li>
            <li>Eagles</li>
            <li>76ers</li>
            <li>Flyers</li>
            <li>Union</li>
          </ol>
        </section>

        <section>
          <h2>List all six of the US state capitals that begin with the letter “C”</h2>
          <ol>
            <li>Carson City, Nevada</li>
            <li>Charleston, West Virginia</li>
            <li>Cheyenne, Wyoming</li>
            <li>Columbia, South Carolina</li>
            <li>Columbus, Ohio</li>
            <li>Concord, New Hampshire</li>
          </ol>
        </section>

        <section>
          <h2>John Williams has scored 26 Steven Spielberg films. List the seven films they collaborated on that only have one word in the title. (hint: years count, abbreviations do not)</h2>
          <ol>
            <li>Jaws</li>
            <li>1941</li>
            <li>Always</li>
            <li>Hook</li>
            <li>Amistad</li>
            <li>Munich</li>
            <li>Lincoln</li>
          </ol>
        </section>

        <section>
          <h2>John G. Roberts is the Chief Justice of the Supreme Court. Name the other eight justices</h2>
          <ol>
            <li>Elena Kagan</li>
            <li>Sonia Sotomayor</li>
            <li>Samuel Alito</li>
            <li>Stephen Breyer</li>
            <li>Ruth Bader Ginsburg</li>
            <li>Clarence Thomas</li>
            <li>Anthony Kennedy</li>
            <li>Antonin Scalia</li>
          </ol>
        </section>
      </section>

      <!-- Outro slide -->
      <section>
        <h1>VAX TRIVIA 2015</h1>
        <h2>Thanks for playing</h3>
      </section>

    </div>