.reveal
  h3
    color #000
  p
    color #222
    line-height 1.4
    font-weight 700
    &.light
      color #EEE
  .slides
    text-align left
  section
    img
      margin 0 auto
      display block
    &[data-background^="img/"]
      background-color rgba(0,0,0,0.75)
      padding 25px !important
  .photos
    img
      width 50%
      margin 0
    p
      margin-top .5em