.reveal
  h3
    color #000
  h4
    color #222
  p
    color #222
    line-height 1.4
    font-weight 700
  .light
      color #EEE
  .slides
    text-align left
  section
    word-break keep-all
    img
      margin 0 auto
      display block
    &[data-background^="img/"]
      background-color rgba(0,0,0,0.75)
      padding 25px !important
      h1
      h2
        margin 0
      p
        margin 10px 0 0
    &[data-background="img/team.jpg"]
      top 15% !important
    &[data-background^="img/"].clear
      background transparent
  .photos
    img
      width 50%
      margin 0
    p
      margin-top .5em
  ol
    display block
    color #222
    .answer
      color #FFF
    &.live-scores
      color #FFF

.notes
  display none
.host .notes
  display inline-block
  background rgba(0,0,0,0.75)
  color #FFF
  padding 10px 20px
  font-size 75%

.progress
  display none !important
.host .progress
  display block !important