.reveal
  h3
    color #000
  p
    color #222
    line-height 1.4
    font-weight 700
    &.light
      color #EEE
  .slides
    text-align left
  section
    img
      margin 0 auto
      display block
    &[data-background^="img/"]
      background-color rgba(0,0,0,0.75)
      padding 25px !important
    &[data-background="img/backgrounds/team.jpg"]
      top 15% !important
    &[data-background="img/babushka.jpg"]
    &[data-background="img/riley.jpg"]
    &[data-background="img/joe.jpg"]
      background transparent
  .photos
    img
      width 50%
      margin 0
    p
      margin-top .5em

.notes
  display none
.host .notes
  display inline-block
  background rgba(0,0,0,0.75)
  color #FFF
  padding 10px 20px
  font-size 75%

.progress
  display none !important
.host .progress
  display block !important